html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    background-image: linear-gradient(to bottom right, pink 15%, rgb(185,235,254), #c2c3e5);
    padding-left: 100px;
    padding-right: 100px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 50px 10px;
}

h2 {
    text-shadow: white 1px 1px;
    color: #014a24;
}

iframe {
    width: 560px;
    height: 315px;
}

.linkTitle {
    font-weight: bold;
}

.btn-secondary {
    background-color: #001b6b !important;
}

.ansImage {
    height: 30vh;
    padding-bottom: 15px;
}

.result {
    font-weight: bold;
    font-size: 19px;
}

.ques {
    font-size: 22px;
    color: #001b6b;
    text-shadow: white 1px 1px;
}

.ansText {
    font-weight: 400;
}

#carpetImg {
    width: 28%;
    height: 100%;
}

#beansImg {
    width: 25%;
    height: 100%;
}

#clothesImg {
    width: 30%;
    height: 100%;
}

.line {
    border-right: 2px solid white;
    height: 200px;
    width: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #000;
}